*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background: var(--color-bg);
    padding: 0 14%;
    font-family: 'Kantumruy Pro', sans-serif;
 /* background-image: url(./assets/workout.jpg);*/
}

main{
   /* padding-top: 120px;
    padding-bottom: 120px;*/
    padding: 120px 0;
}

a{
    font-size: 25px;
}
:root{
    /*
    logo: #fed35c
    logo-text: #333333
    https://pngtree.com/so/workout
    */
    --color-test: #ff2a43;
    --color-bg: #333333;
    --color-bg-variant: #fed35c;
    --color-bg-variant-opacity: #fed35c94;
    --color-primary: #F2F4F3;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;

    --transition: all 400ms ease;

}

.title{
    color: var(--color-primary);
    font-size: 100px;
    width: 60%;
}

.container{
    list-style-type: none;
    margin: 0;
    padding: 0 6%;
    overflow: hidden;
    background-color: var(--color-bg);
}
.navbar-brand{
    float: left;
}

.navbar-nav{
    display: flex;
    gap: 45px;
    list-style: none;
    text-decoration: none;
}
.navbar-nav a{
    text-decoration: none;
    color: var(--color-bg-variant);
}

.navbar-collapse{
    float: right;
    padding: 14px;
}
.navbar-logo{
    width: 12rem;
}
.logo{
    float: left;
    display: block;
    position: relative;
    top: 10%;
    color: white;
    text-align: center;
    
    text-decoration: none;
}
.main_container{
    display: flex;
}
img.workout_boy {
    margin-top: -106px;
    height: fit-content;
}
    /*
.workout_boy {
    position: absolute;
    top: 150px;
    right: 287px;
}*/




/* icons */

.material-symbols-outlined {
    position: relative;
    top: 5px;
    left: 5px;
}



tr {
    display: block;
    margin-bottom: 1.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
    background-color: transparentize( white, 0.15 );
    box-shadow: 0 0 1rem transparentize( black, 0.9 );
}
tr td:nth-child(2){
    background: blue;
}
td {
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    border-radius: 1%;
    text-align: left;
    background-color: white;
    border: 1px solid transparentize( #58C25F, 0.5 );
}

td:before {
    float: left;
    margin: -0.5rem 0.5rem -0.5rem -0.5rem;
    padding: 0.625rem 0.5rem 0.625rem;
    font-size: 0.75em;
    font-weight: bold;
    background: transparentize( #58C25F, 0.9 );
    color: #58C25F;
}
td:nth-child(1):before {
    content: "Name:";
}
td:nth-child(2):before {
    content: "Type:";
}
td:nth-child(3):before {
    content: "Muscle:";
}
td:nth-child(4):before {
    content: "Equipment:";
}
td:nth-child(5):before {
    content: "Difficulty:";
}
td:nth-child(6):before {
    content: "Description: \a";
    white-space: pre;
}






